/* Estilos globales */

* {
    font-family: calibri;
}

body {
    background-color: #22346D;
}

main {
    max-width: 1280px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    padding: 1.5rem;
}

img {
    display: block;
}

.blanco {
    color: white;
}

.rojo {
    color: red;
}

.rojo2 {
    color: #c45959;
}

.rojo3 {
    color: rgb(255, 49, 49);
}

.gris {
    color: rgba(225, 225, 225, 0.721);
}

.verde {
    color: rgb(25, 194, 25);
}

.azul {
    color: #3fb5ff;
}

.dorado {
    color: #FFD700;
}

.color_borde1 {
    fill: #242A77;
}

.color_borde2 {
    fill: #7A1010;
}

.linea {
    display: flex;
    justify-content: center;
}

.subtitle {
    text-align: center;
    font-size: 1.55rem;
}

.visualizacion1 {
    margin: 3rem 13rem;
}

.fondo {
    background-image: url("./images/fondo.svg");
    height: 35rem; 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.avatar_flex {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.avatar {
    width: 2.5rem;
    border: 3px solid #e3d132;
}

.barra_flex {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    padding-top: 2.5rem;
    padding-left: 3rem;
}

.barra1 {
    width: 20.2rem;
    height: 1.2rem;
    border: 3px solid #e3d132;
    border-left: none;
    background-color: rgb(225, 225, 225); 
}

.barra2 {
    width: 20.2rem;
    height: 1.2rem;
    border: 3px solid #e3d132;
    border-right: none;
    background-color: rgb(225, 225, 225); 
    display: flex;
    justify-content: flex-end; 
}

.tamaño_vidaN24 {
    font-size: 10.5px;
    margin: 0;
    text-align: right;
    margin-right: 7px;
}

.tamaño_vidaN87 {
    font-size: 10.5px;
    margin: 0;
    text-align: left;
    margin-left: 7px;
}


.borde_flex {
    display: flex;
    flex-direction: row;
    position: absolute;
    align-items: flex-end;
    padding-top:9.5rem;
    padding-left: 14.5rem;
}

.borde_p1 {
    width: 8.5rem;
    height: 8.15rem;
}

.borde_p2 {
    width: 15.9rem;
    height: 14.8rem;
    margin-left: 7rem;
}

.escudo {
    width: 7.8rem;    
    position: absolute;
    padding-top: 14.5rem;
    margin-left: 38rem;
    z-index: 1;
}

.player_flex {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}


.player2 {
    padding-top: 1rem;
    padding-left: 0.4rem;
}

.flechas_container {
    padding-left: 12.5rem;
    margin-top: 0.75rem;
}

.flecha {
    width: 1.5rem;
}


.boton1 {
    border: none; 
    background: none; 
    margin-left: 1.25rem; 
}

.boton2 {
    border: none; 
    background: none; 
    margin-left: 14.5rem;
}

.texto_flex {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 6rem;
}

.visualizacion2 {
    margin: 4rem;
}


.tamaño_texto {
    width: 40rem;
}

.trailer {
    padding-top: 4.5rem;
}


.catalogo {
    margin: 4rem;
}

.catalogo_flex {
    display: flex;
    align-items: flex-end;
    padding: 1.3rem 1rem;
    padding-bottom: 2.25rem;
    gap: 0.4rem;
    border: 2px solid rgba(184, 184, 184, 0.612); 
    background-color: rgba(168, 154, 154, 0.16);
}

.catalogo_flex img {
    object-fit: contain; 
}

.datos_flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.zoom {
    transition: transform 0.3s ease;
  }
  
  .zoom:hover {
    transform: scale(1.1); 
  }
  
footer {
    margin-top: 5rem; 
    padding: 2rem 10rem 2.5rem 10rem ;
    background-color: #0b1f5b;
}

.footer_contenedor {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
}

.redes_contenedor {
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    gap: 4px;
}

.redes_contenedor img {
    filter: grayscale(100%); 
    opacity: 0.55;
    transition: filter 0.3s ease; 
  }
  
  .redes_contenedor img:hover {
    filter: none; 
    opacity: 1;
  }

.comparacion_alturas {
    position: relative;
    width: 100%;
  }
  
  .linea_horizontal {
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(148, 148, 148, 0.742);
    opacity: 0.5;
    z-index: 1; 
    text-align: left;
    font-size: 0.8rem;
    color: white;
    padding-left: 5px; 
  }


.vida:hover {
    opacity: 1;
}

.vida {
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.vida_contenedor:hover .vida {
    opacity: 1;
}